.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  align-items: center;
  background-color: rgb(233, 240, 240);
  border: 1px solid #ccc;
  border-radius: 8px;
  border-top: 4px solid green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add box-shadow */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 20px;
  padding: 20px;
  width: 300px;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.product-card p {
  margin: 0;
  margin-bottom: 10px;
}

.product-card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-card button {
  background-color: green;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.product-card input {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  width: 50px;
}

.product-card input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.products-page-button {
  background-color: green;
  border: none;
  border-radius: 8px;
  bottom: 50px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  position: fixed;
  right: 50px;
}

.products-page-button:disabled {
  background-color: gray;
  border: none;
  border-radius: 8px;
  bottom: 50px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  position: fixed;
  right: 50px;
}

.card-bottom {
  background-color: rgba(0, 128, 0, 0.2); /* slightly green background */
  border-radius: 8px; /* rounded corners on bottom only */
  color: white; /* all fonts white */
  margin-top: auto;
  padding: 10px; /* some padding */
  padding-left: 50px;
  padding-right: 50px;
}

.card-bottom button {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
